.star {
  color: #ccc;
  font-size: 22px;
  cursor: default;
}

.star.filled {
  color: var(--color-yellow);
}

.star:hover {
  transform: scale(1.1);
}

.star.interactive {
  cursor: pointer;
}

span {
  text-decoration: none;
}

