.figure-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: space-around;
  border-radius: var(--radius);
  box-shadow: 10px 1px 8px var(--color-border);
}

.card-img {
  display: block;
  max-width: 90%;
  height: auto;
  border-radius: var(--radius);
  background: var(--card-bg);
}

.figure-card h3 {
  font-weight: 200;
  padding: 8px;
  background-color: var(--color-blue);
  border-radius: var(--radius);
  color: var(--color-bg);
  font-size: 12px;
  width: 70%;
  text-align: center;
}
